<h1>Items in the todo list for category: <%= @items.first.category %></h1>
<table>
  <th>
    Name
  </th>
  <% for @item in @items %>
    <tr>
      <td>
        <%= @item.name %>
      </td>

    </tr>
  <% end %>
</table>
