<h1>Items in the todo list</h1>
<table>
  <thead>
    <th>
      Name
    </th>
    <th>
      Category
    </th>
  </thead>

  <% for @item in @items %>
    <tr>
      <td>
        <%= @item.name %>
      </td>
      <td>
        <%= @item.category %>
      </td>

    </tr>
  <% end %>
</table>
